.section.contents
  %h1 Content for Site Pages
  .pull-right{ style: 'margin-bottom: 10px'}
    = link_to new_content_path, id: 'new-content-link', class: 'btn btn-success', 'data-toggle': 'modal', 'data-target': '#modal' do
      %span.glyphicon.glyphicon-plus
      Content
  %table.table.table-condensed.contents-table
    %thead.contents-header
      %tr 
        %th Title
        %th Effective
        %th.actions Actions
    %tbody
      - @contents.each do |content|
        %tr
          = render partial: 'content', locals: { content: content }
