.section.home
  .row
    .col-md-6
      .col-md-12
        .well.well-sm
          .text-center
            .row
              - if user_signed_in?
                =link_to "Start a Project", projects_path, { class: 'btn navbar-btn btn-primary' }
              - else
                =link_to "Please sign in to start a project. Registration is free!", new_user_session_path, { class: 'btn navbar-btn btn-primary' }
          %p GAAP Logic is...
    .col-md-6
      .col-md-12
        .well.well-sm
          %h3.text-primary Modules
          .live
            .list-group
              - @live_subjects.each do |subject|
                - if subject.display
                  = render partial: 'subjects/subject_home', locals: { subject: subject }
