<td>
  <%= link_to project.name, project %>
</td>
<td>
  <%= link_to("Delete project", project_path(project), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
</td>
