$charcoal: #333;
$black: #000;
$color_mountain_mist_approx: #999999;
$faint_gray: #DDD;
$white: #fff;
$near_white: #f8f8f8;
$white_20: rgba(255,255,255,0.2);
$menu_header: #337ab7;
$menu_border: #369;
$muted_blue: #6d89a5;
$remove_color: #d9534f;
$warning_color: #f0ad4e; 
