.modal .form-group {
  label {
    margin-bottom: 0;
  }
  
  .help-block {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 11px;
  }
}

.form-group.required .required-label:after { 
   content:"*";
   color:red;
}
