@import "colors";

.node {
  .question-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#3a5487, 40%);
  }
  .decision-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#c0c4c9, 10%);
  }
  .info-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#c0c4c9, 10%);
  }
  .recommendation-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#5c8c9c, 30%);
  }
  .help-container {
    //border-top: 3px #e7e7e7 solid;
    padding-left: 15px;
    padding-bottom: 15px;
    //padding-top: 10px;
    overflow: scroll;
    height: 56vh;
  }
  .help-elements {
    margin-left: 10px !important;
  }
}
.previous-node {
  .question-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#3a5487, 40%);
  }
  .decision-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#c0c4c9, 10%);
  }
  .info-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#c0c4c9, 10%);
  }
  .recommendation-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: lighten(#5c8c9c, 30%);
  }
  .help-container {
    //border-top: 3px #e7e7e7 solid;
    padding-left: 15px;
    padding-bottom: 15px;
    //padding-top: 10px;
    overflow: scroll;
    height: 56vh;
  }
  .info-elements {
    margin-left: 10px !important;
  }
}
.previous-container {
  //border-top: 3px #e7e7e7 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50px;
  //background: lighten(#eb7e24, 30%);
}
.process {
  .spacer {
    margin-top: 15px;
  }
}
.question-controls {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
textarea {
  resize: none;
  overflow: scroll;
}
