@import "colors";

.node {
  .question-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .decision-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .info-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .recommendation-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .help-container {
    //border-top: 3px #e7e7e7 solid;
    padding-left: 15px;
    padding-bottom: 15px;
    //padding-top: 10px;
    overflow: scroll;
    height: 56vh;
  }
  .help-elements {
    margin-left: 10px !important;
  }
}
.previous-node {
  .question-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .decision-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .info-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .recommendation-container {
    //border-right: 3px #e7e7e7 solid;
    //border-top: 3px #e7e7e7 solid;
    padding-right: 5px;
    padding-bottom: 15px;
    overflow: scroll;
    height: 56vh;
    background: #eeeeee;
    border-radius: 5px;
  }
  .help-container {
    //border-top: 3px #e7e7e7 solid;
    padding-left: 15px;
    padding-bottom: 15px;
    //padding-top: 10px;
    overflow: scroll;
    height: 56vh;
  }
  .info-elements {
    margin-left: 10px !important;
  }
}
.previous-container {
  //border-top: 3px #e7e7e7 solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 50px;
  //background: lighten(#eb7e24, 30%);
}
.process {
  .spacer {
    margin-top: 0px;
  }
}
.section.process {
  h1 {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }

  h3 {
    color: $brand-primary;
    margin-top: -5px !important;
    margin-bottom: 20px;

    .date {
      color: $charcoal;
      font-weight: 500;
    }
  }
}
.comment-controls {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
textarea {
  resize: none;
  overflow: scroll;
}
