%ul.nav.navbar-nav
  %li
    %a{ url: '#' } About
  %li.nav.navbar-nav
    %a{ url: '#' } Privacy
  %li.nav.navbar-nav
    %a{ url: '#' } Terms of Use
  %li.nav.navbar-nav
    %a{ url: '#' } Contact Us
