%ul.nav.navbar-nav
  %li.nav.navbar-nav
    %a{ url: '#' } About
  %li.nav.navbar-nav
    =link_to 'Privacy Policy', '/pages/privacy_policy'
  %li.nav.navbar-nav
    =link_to 'Terms of Use', '/pages/terms_of_use'
  %li.nav.navbar-nav
    %a{ url: '#' } Contact Us
