%ul.nav.navbar-nav
  %li
    =link_to "Home", root_path
  %li
    =link_to "My Projects", projects_path
- if current_user.try(:admin?)
  %li.nav.navbar-nav
    =link_to "Questions", questions_path
  %li.nav.navbar-nav
    =link_to "Subjects", subjects_path
  %li.nav.navbar-nav
    =link_to "Versions", versions_path
  %li.nav.navbar-nav
    =link_to "Contents", contents_path
  %li.nav.navbar-nav
    =link_to "Dashboards", admin_root_path
%ul.nav.navbar-nav= render 'layouts/nav_links_for_auth'
